numpy>=1.18.2
pytorch-lightning>=0.8.5
pandas
python-dateutil
tensorboardX
tensorboard
torch
wget
wrapt
ruamel.yaml
scikit-learn
scipy
hydra-core==1.0.0rc2
pillow>=4.3.0
progressbar
requests
ruamel.yaml
sentencepiece
six
sox
tqdm>=4.41.0
unidecode
wget
youtokentome
black
isort[requirements] < 5
parameterized
pytest
pytest-runner
sphinx
sphinxcontrib-bibtex
wrapt
